@import "./variable.scss";
@import "./media.scss";

#about {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 5px -1px #0000001f;
  background-color: transparent !important;

  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;

    padding: 100px 20px;
    grid-gap: 50px;

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 25px;

      h1 {
        color: #fb58fb;
        font-size: clamp(10%, 11vw, 65px);
        width: 100%;
        text-align: center;
        font-family: "Impact";
        letter-spacing: 2px;
        word-spacing: unset;
        @include md {
          word-spacing: 0px;
        }
      }

      .para {
        max-width: 800px;

        p {
          font-size: 24px;
          color: white;
          text-align: center;

          width: 100%;
          font-weight: 100;
          line-height: 40px;
          @include md {
            font-size: 18px;
          }
          span {
            color: #fb58fb;
            font-family: "Impact";
            font-weight: 100;
            margin-right: 20px;
          }
        }
      }
    }

    .img1 {
      display: flex;
      align-items: center;
      justify-content: start;

      img {
        width: 100%;
      }
    }

    .content {
      width: 100%;
      display: flex !important;
      align-items: center !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      gap: 20px;

      @include md {
        flex-direction: column !important;
      }

      .img {
        img {
          width: 100%;
        }
      }

      .box-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        row-gap: 20px;

        p {
          font-family: "Impact";
          font-size: 32px;

          font-weight: 300;
          text-transform: none;
          color: white;
          text-align: center;

          span {
            color: #fb58fb;
            font-size: 32px;
            text-align: center;
            font-family: "Impact";
          }
        }
      }

      .box-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        row-gap: 20px;

        p {
          font-size: 32px;
          font-weight: 300;
          text-transform: none;
          color: white;
          text-align: center;
          font-family: "Impact";

          span {
            color: #fb58fb;
            font-size: 32px;
            text-align: center;
            margin-right: 4px;
            font-family: "Impact";
          }
        }

        p {
          span {
            color: #fb58fb;
            font-size: 32px;
            font-family: "Impact";
          }

          b {
            font-size: 32px;
            font-family: "Impact";
          }
        }
      }

      a {
        background-color: #ffc40c;
        font-family: "roboto-light";
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
        color: black;
        font-weight: 300;
        font-size: 18px;
        border-color: transparent;
        padding: 16px 28px;
        margin-top: 30px;
      }
    }

    .about-bottom {
      max-width: 600px;
      width: 100%;

      .bottom-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2px;
          height: 100%;
          font-size: 50px;
          font-family: "Impact";

          b {
            color: #fb58fb;
            font-family: "Impact";
            font-size: 25px;
            font-size: 50px;
          }
        }

        p {
          font-size: 24px;
          color: white;
          text-align: center;

          width: 100%;
          font-weight: 100;
          line-height: 40px;
        }

        .btns {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
          margin-top: 40px;
          gap: 1rem;
          a {
            background-color: red;
            font-family: "raboto";
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
            font-size: 26px;
            font-weight: 400;
            color: black;
            border: 0px;
            cursor: pointer;
            padding: 10px 10px 5px 10px;
            border-radius: 50px;
            background: #fff;
            border: 1px solid #ffffff;
            justify-content: center;
            display: flex;
            justify-content: center;
            font-family: Impact;
            margin: 0;
            text-transform: uppercase;
            padding: 10px 45px;
            width: max-content;
            letter-spacing: 5px;
          }
        }
      }

      .content-address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        row-gap: 10px;
        margin-top: 40px;

        .address {
          h3 {
            color: #fb58fb;
            font-size: 25px;
            text-align: center;
            font-family: "helvetica";
          }
        }

        h4 {
          font-size: 24px;
          font-weight: 100;
          /* text-transform: none; */
          color: white;
          /* max-width: 200px; */
          /* word-wrap: break-word; */
          display: flex;
          /* text-decoration: underline !important; */
          display: inline;
          width: 100%;
          word-break: break-all;
          text-align: center;
          font-family: "Helvetica Bolf";
        }
      }
    }
  }
}
