$purple--light: #d44912;
$black--light: #000000ab;
$white--light: white;
$family--light: "Poppins", sans-serif;

$family-des--light: "Nunito", sans-serif;

$purple--dark: #956fca;
$black--dark: #9b8888ab;
$white--dark: rgb(29, 27, 27);
$shadow-color--dark: rgba(85, 83, 83, 0.5);
$family--dark: "Poppins", sans-serif;
$family-des--dark: "Nunito", sans-serif;
$border: 1px solid #70696945;
$dark: hwb(330 7% 92%);
$main: #ffb800;
$bgGragient: #e91e63;
